/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
ir-translator/lex.yy.*
ir-translator/tcg_ast.o
ir-translator/tcg_parser
ir-translator/tcg_parser.tab.*

