/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
ir-translator/lex.yy.*
ir-translator/tcg_ast.o
ir-translator/tcg_parser
ir-translator/tcg_parser.tab.*
ir-translator/*.o
ir-translator/*.yy.*
ir-translator/*.tab.*
ir-translator/qemu-SSE-helper-extractor/parser/*.class
ir-translator/qemu-SSE-helper-extractor/parser/*.interp
ir-translator/qemu-SSE-helper-extractor/parser/*.tokens
ir-translator/qemu-SSE-helper-extractor/parser/*.java
ir-translator/qemu-SSE-helper-extractor/parser/antlr-4.9.3-complete.jar
ir-translator/qemu-SSE-helper-extractor/*.helper_xmm
ir-translator/*.splits
